.halah {
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    width: 42%;
}

.hal {
    margin-right: auto;
    margin-left: auto;
    margin-top: 38px;
    width: 46%;
}

.reng {
    color: black;
    text-decoration: none;
}

.reng:hover {
    color: rgb(53, 53, 53);
}

.cihuy {
    display: flex;
    flex-direction: row;
    justify-content: end;
    justify-content: space-between;
    margin-bottom: 20px;
}

.todd {
    font-size: 20px;
    font-weight: 600;
}

.wohh {
    background-color: white;
    height: 2.8px;
    opacity: 80%;
    margin-bottom: 30px;
}

.yh {
    width: 49.2%;
}